.header {
  height: 80px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
}

.headerTitle {
  font-weight: bold;
  font-size: 24px;
}

.headerTitle:hover {
  opacity: 100%;
}

.logoLinks {
  display: flex;
  align-items: center;
}

.logoLink {
  padding-left: 16px;
  display: flex;
  opacity: 75%;
}

.logoLink:hover {
  opacity: 100%;
}
