.card {
  width: 360px;
  height: 120px;
  display: flex;
  margin: 16px;
  justify-content: center;
}
.cardImage {
  width: 120px;
  height: 120px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  width: 50%;
  justify-content: center;
}
.cardHeader {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}
.name {
  display: block;
  opacity: 100%;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
.role {
  font-size: 16px;
}
