.card {
  width: 360px;
  height: 120px;
  display: flex;
  margin: 16px;
}
.cardImage {
  width: 120px;
  height: 120px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  flex-grow: 1;
}
.cardHeader {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}
.name {
  display: block;
  opacity: 100%;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
.role {
  font-size: 16px;
}
.links {
  display: flex;
  align-items: center;
}
.logoLink {
  padding-right: 8px;
  opacity: 75%;
}
.logoLink:hover {
  opacity: 100%;
}
