.main {
  width: 90%;
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.contentContainer {
  max-width: 750px;
}

.title {
  font-size: 56px;
}

@media (max-width: 600px) {
  .title {
    font-size: 40px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  display: inline;
  width: 160px;
  height: 40px;
  margin: 8px;
  cursor: pointer;
}

.buttonPrimary {
  background-color: #76FFCE;
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.buttonPrimary:hover {
  background-color: #3dd49e;
}

.buttonSecondary {
  border-radius: 2px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.buttonSecondary:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.demoButton {
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin: 8px auto;
  background-color: #771cf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.demoButton:hover {
  background-color: #700cff;
}

.disabledDemoButton {
  width: 200px;
  height: 40px;
  margin: 8px auto;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-areas: 'a b' 'c d';
  grid-template-columns: minmax(1fr, 180px) 4fr;
  column-gap: 16px;
  max-width: 100%;
}
.a {
  grid-area: a;
  text-align: right;
}
.b {
  grid-area: b;
  text-align: left;
}
.c {
  grid-area: c;
  text-align: right;
}
.d {
  grid-area: d;
  text-align: left;
}

.aaCapabilities {
  margin: 20px 0;
  padding: 25px 50px;
  text-align: left;
  background-color: #2e6652;
  color: #ffffff;
  border-radius: 8px;
}

.aaCapabilities h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.aaCapabilities ul {
  list-style-type: circle;
  padding-left: 0;
}

.aaCapabilities li {
  margin: 10px 0;
  position: relative;
  padding-left: 25px;
}

.aaCapabilities li > ul {
  padding-left: 20px;
}

